<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.shineiot.android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.home.MainActivity" />
        <activity
            android:name=".ui.articledetail.WebViewActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.collect.CollectActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.search.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
    </application>
</manifest>
